<div
  class="splash"
  *ngIf="!oculto"
  [class.revelando]="revelando"
  aria-hidden="true">
  <div class="franja franja-1" [style.backgroundImage]="'url(' + imagenFondo + ')'"></div>
  <div class="franja franja-2" [style.backgroundImage]="'url(' + imagenFondo + ')'"></div>
  <div class="franja franja-3" [style.backgroundImage]="'url(' + imagenFondo + ')'"></div>
  <div class="franja franja-4" [style.backgroundImage]="'url(' + imagenFondo + ')'"></div>
  <div class="franja franja-5" [style.backgroundImage]="'url(' + imagenFondo + ')'"></div>
</div>
