<app-splash-screen></app-splash-screen>

<header class="header">
  <h1 class="titulo">📍 Consulta Pública de Lotes</h1>
  <p class="subtitulo">Consultá la procedencia de cada dato antes de utilizarlo</p>
<nav><button (click)="administracion=false">Consulta pública</button><button (click)="administracion=true">Administración</button></nav>
</header>

<app-admin *ngIf="administracion"></app-admin>
<main class="contenido" *ngIf="!administracion">
  <section class="panel-mapa">
    <app-buscador-ubicacion></app-buscador-ubicacion>
    <app-mapa-lote (ubicacionSeleccionada)="onUbicacionSeleccionada($event)"></app-mapa-lote>
  </section>

  <aside class="panel-ficha">
    <app-ficha-lote></app-ficha-lote>
  </aside>
</main>
